body {
  background-color: white;
  color: black;
}
h1 {
  font-family: arial;
  text-align: center;
  margin-left: 0pc;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  font-size: large;
}
h2 {
  background-color: white;
  padding: 20px;
}
nav {
  text-align: right;
}
img {
  border-radius: 7px;
}
#bottomless {
  bottom: 0;
  right: 0;
  position: fixed;
}

#topofpage {
  bottom: 0;
  left: 80px;
  position: fixed;
  display: none;
}
#container {
  width: 80%;
  min-width: 800px;
  max-width: 800px; /*very useful, makes it so page doesnt mess up with zooming in, maintains the sizes of everything*/
  margin-left: auto;
  margin-right: auto;
}

.tekkenwikibutton {
  border: solid 1px black;
  border-radius: 10px;
  /*box-shadow: 5px 5px 5px rgb(9, 1, 122);
  animation: animator2 10s infinite;*/
  display: none;
}
.titles {
  text-align: center;
  font-size: 2em;
  font-style: italic;
}
.alignment {
  /*this is for all the bordered card with this character names */
  float: left;
  border: #7700ff solid 5px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
  text-align: center;
}
/*@keyframes animator {
  from {
    background-color: red;
  }
  to {
    background-color: #7700ff;
  }
  to {
    background-color: green;
  }
}
*/
.akumabutton {
  background-color: white;
}
.lawbutton {
  background-color: white;
  border-color: #ffffff;
}
.armorkingbutton {
  background-color: white;
  border-color: #ffffff;
}
.kingbutton {
  background-color: white;
}
.fengbutton {
  background-color: white;
}
.giggasbutton {
  background-color: white;
}
.bryanbutton {
  background-color: white;
}
.hwoarangbutton {
  background-color: white;
}
.pandabutton {
  background-color: white;
}
a {
  text-decoration: none;
}
/*img:hover {
  background-color: gold;
}
.alignment img:hover {
  border-radius: 500px;
  opacity: 0.9;
}
.titles a:hover {
  background-color: steelblue;
  color: white;
}
p:hover {
  color: black;
}
*/
