body {
  margin: 0;
  width: auto;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: block;
  height: 200px;
  text-align: center;
  margin-top: 0;
  border-bottom: dotted yellow 10px;
  max-width: 896px;
}
header img {
  height: 200px;
}
h2 {
  text-align: center;
  font-style: italic;
  font-size: 25pt;
  margin-top: 0;
  border-bottom: 10px dotted purple;
  max-width: 896px;
  color: white;
}
nav {
  text-align: center;
}
nav ul {
  display: inline;
}

nav li {
  list-style: none;
  display: inline-block;
  color: ivory;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(9, 1, 122);
  font-size: xx-large;
  font-style: italic;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: ivory;
}

main {
  display: flex;
  flex-wrap: wrap;
}
footer {
  bottom: 0;
  right: 0;
  position: fixed;
}

.akuma {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}

.akuma p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.akuma img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
.law {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.law p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.law img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}

.steve {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.steve p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.steve img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
.king {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.king p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.king img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
.feng {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.feng p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.feng img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
.bryan {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.bryan p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.bryan img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
.giggas {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.giggas p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.giggas img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
.panda {
  margin: 0;
  width: auto;
  border: #7700ff solid 5px;
  max-width: 220px;
  height: 300px;
  border-radius: 15px;
  background-color: red;
  box-shadow: 10px 10px 10px rgb(15, 122, 15);
  animation: animator 10s infinite;
}
.panda p {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.panda img {
  border-radius: 12px;
  border-bottom: solid 2px green;
}
img:hover {
  border-radius: 85px;
}
nav li:hover {
  border-radius: 85px;
  background-color: steelblue;
}
header img:hover {
  background-color: gold;
  border-radius: 15px;
}
.topofpage {
  bottom: 0;
  left: 0;
  position: fixed;
}
.topofpage a {
  text-decoration: none;
  color: black;
}
.forms {
  margin-left: 60px;
  margin-top: 60px;
}
h3 {
  color: antiquewhite;
}
label {
  color: aliceblue;
}
input {
  background-color: lime;
}
video {
  padding: 5px;
}
span {
  opacity: 0;
}
span img {
  width: 220px;
  height: 80px;
}
a:hover span {
  display: block;
  position: relative;
  bottom: 130px;
  opacity: 1;
  transition: ease-in-out 3s;
}
.usingjs {
  text-decoration: none;
  color: green;
}

@keyframes animator {
  from {
    background-color: red;
  }
  to {
    background-color: #7700ff;
  }
  to {
    background-color: green;
  }
}
@media only screen and (max-width: 720px) {
  /*used to account for smaller screens, readjust browser size to see effect*/
  main {
    margin-left: 60px;
    float: left;
  }
  #resizing {
    width: 270px;
    height: 190px;
  }
  nav li {
    display: list-item;
    max-width: 440px;
  }
  footer {
    font-size: 50%;
  }
  .topofpage a {
    font-size: 50%;
  }
  .forms {
    margin-left: 35px;
    margin-bottom: 35px;
  }
  .forms label {
    color: black;
  }
  h3 {
    color: blueviolet;
  }
  video {
    padding-bottom: 50px;
  }
  audio {
    padding-bottom: 50px;
  }
}
